In [3]:
import pandas as pd
import numpy as np

In [22]:
import glob
import time
# from xml.dom import minidom
from nltk import ngrams
from nltk.tokenize import sent_tokenize
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\aksha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\aksha\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\aksha\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [23]:
df = pd.read_csv(r"C:\Users\aksha\Downloads\dataset.csv",encoding='utf-16')
df

                                               Sentence  Label
0                                                     a      1
1                                                   a'       1
2                                                 a' --      1
3                                       a' or 1 = 1; --      1
4                                                     @      1
...                                                 ...    ...
4195   org/?option = com_k2  <a href = "http://corfopym      0
4196  com/?option = com_k2  <act>  <![CDATA[procMemb...      0
4197                                          picsearch      0
4198  com/is?-WZx-uhyLezKNiYLvAbKL3W4oh5F749nr2KUmFF...      0
4199  de]]>  </email_address>   <find_account_answer...      0

[4200 rows x 2 columns]

# Data Preprocessing

In [24]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer( min_df=2, max_df=0.7, stop_words=stopwords.words('english'))
posts = vectorizer.fit_transform(df['Sentence'].values.astype('U')).toarray()

In [25]:
transformed_posts=pd.DataFrame(posts)

In [26]:
df=pd.concat([df,transformed_posts],axis=1)

In [27]:
df.head(10)

,Sentence,Label,0,1,2,3,4,5,6,7,...,4707,4708,4709,4710,4711,4712,4713,4714,4715,4716
0,a,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,a',1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,a' --,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,a' or 1 = 1; --,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,@,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,?,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,' and 1 = 0 ) union all,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,? or 1 = 1 --,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,x' and userid is NULL; --,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,x' and email is NULL; --,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
X=df[df.columns[2:]]

In [29]:
y=df['Label']

In [30]:
from sklearn.model_selection import train_test_split

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)

### Logistic Regression

In [42]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(X_train, y_train)

In [43]:
from sklearn.metrics import accuracy_score

In [44]:
y_pred=clf.predict(X_test)

In [45]:
accuracy_score(y_test, y_pred)

0.9341269841269841

### Naive Bayes Classification

In [46]:
from sklearn.naive_bayes import GaussianNB

In [49]:
nbc = GaussianNB()
y_pred_nbc = nbc.fit(X_train, y_train)

In [50]:
y_pred_nbc=nbc.predict(X_test)

In [51]:
accuracy_score(y_test, y_pred_nbc)

0.9714285714285714

### Gradient Boosting Classifier

In [52]:
from sklearn.ensemble import GradientBoostingClassifier

In [57]:
gbc= GradientBoostingClassifier()
y_pred_gbc = gbc.fit(X_train, y_train)
y_pred_gbc=gbc.predict(X_test)

In [58]:
accuracy_score(y_test, y_pred_gbc)

0.9079365079365079

### Bagging

In [59]:
from sklearn.ensemble import BaggingClassifier
from sklearn.neighbors import KNeighborsClassifier
bag = BaggingClassifier(KNeighborsClassifier(),max_samples=0.5, max_features=0.5)

In [60]:
y_pred_bag = bag.fit(X_train, y_train)
y_pred_bag = bag.predict(X_test)

In [61]:
accuracy_score(y_test, y_pred_gbc)

0.9079365079365079